node_modules/
dist/
dist-apps/
*.tsbuildinfo
.DS_Store
.env
bash.exe.stackdump
/data/
/docs/
/spec/
/ui/
/ui2/
/zs-lib/*.d.ts
/zs-lib/**/*.sandbox.d.ts
/zs-templates/
/zs-lib/tsconfig*.json
~move/
*.png
